<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic HTML Structure</title>
</head>
<body>
    <h1>Welcome to the Basic HTML Page</h1>
   <h1>Qora posts</h1>
   <form  method="post" action="/posts">
    <input type="text" name="title" placeholder="Title">
    <textarea name="content" placeholder="write post"></textarea>
    <button>submit post</button>
   </form>
</body>
</html>


